In [11]:
import pandas as pd

cor_pair = pd.read_csv('cor_pairs.txt',sep='\t',header = None)
cor_stripe = pd.read_csv('cor_stripes.txt',sep='\t',header = None)
ans = pd.read_csv('cor-demo-output.txt',sep='\t', header = None)

In [12]:
cor_stripe = cor_stripe.sort_values(by = [0,1], ascending = [True, True])
print(cor_stripe)

         0        1         2
12     God      and  0.333333
6      God  entitle  1.000000
10     God    equal  1.000000
9      God     laws  1.000000
5      God   nature  0.500000
..     ...      ...       ...
401   they       to  0.200000
402   they    which  0.333333
404     to    which  0.200000
403     to     with  0.200000
405  which     with  0.333333

[406 rows x 3 columns]

In [13]:
ans = ans.sort_values(by = [0,1], ascending = [True, True])
print(ans)

         0        1         2
0      God      and  0.333333
1      God  entitle  1.000000
2      God    equal  1.000000
3      God     laws  1.000000
4      God   nature  0.500000
..     ...      ...       ...
401   they       to  0.200000
402   they    which  0.333333
403     to    which  0.200000
404     to     with  0.200000
405  which     with  0.333333

[406 rows x 3 columns]

In [14]:
cor_pair = cor_pair.sort_values(by = [0,1], ascending = [True, True])
print(cor_pair)

         0        1         2
0      God      and  0.333333
1      God  entitle  1.000000
2      God    equal  1.000000
3      God     laws  1.000000
4      God   nature  0.500000
..     ...      ...       ...
401   they       to  0.200000
402   they    which  0.333333
403     to    which  0.200000
404     to     with  0.200000
405  which     with  0.333333

[406 rows x 3 columns]

In [15]:
ans[1].equals(cor_stripe[1])

False

In [6]:
ans.equals(cor_pair)

True

In [16]:
cor_stripe.to_csv('cor_stripe.csv')

In [17]:
ans.to_csv('ans.csv')

In [18]:
cor_pair.to_csv('cor_pair.csv')

In [24]:
cor_stripe.reset_index(drop=True)
cor_stripe

     level_0  index      0        1         2
0          0     12    God      and  0.333333
1          1      6    God  entitle  1.000000
2          2     10    God    equal  1.000000
3          3      9    God     laws  1.000000
4          4      5    God   nature  0.500000
..       ...    ...    ...      ...       ...
401      401    401   they       to  0.200000
402      402    402   they    which  0.333333
403      403    404     to    which  0.200000
404      404    403     to     with  0.200000
405      405    405  which     with  0.333333

[406 rows x 5 columns]

In [23]:
cor_stripe.drop(["level_0", "index"])

KeyError: "['level_0' 'index'] not found in axis"